{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Barca Store</title>
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/shop.css' %}" rel="stylesheet">
</head>

<body class="bg-white">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-white bg-info fixed-top">
    <div class="container">
      <a class="navbar-brand text-white" href="http://127.0.0.1:8000/">Barca Store</a>
      <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="/">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Informacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container-fluid">
    <div class="row">

      <!-- Sidebar -->
      <div class="col-lg-2 bg-light">
        <h1 class="my-4">Tienda de don Pepe</h1>
        <div class="list-group">
          {% for cat in categorias %}
          <a href="/categoria/{{cat.id}}/" class="list-group-item">{{cat.nombre}}</a>
          {% endfor %}
        </div>
      </div>
      <!-- /.col-lg-2 -->

      <!-- Content -->
      <div class="col-lg-10">

        {% block content%}
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Stock: {{producto.stock}}</a>
                </h4>
                <h5>S/ {{producto.precio}}</h5>
                <p class="card-text">{{producto.descripcion}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
        <!-- /Block Content -->

      </div>
      <!-- /.col-lg-10 -->

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
